* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body h1, main section h1 {
  font-size: 45px;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 5rem; }

body h2, main section h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem; }

body p, main section .mobiliario p {
  font-size: 20px;
  text-align: center;
  margin: 1rem 2rem; }

a {
  text-decoration: none;
  color: #4b3b22;
  font-size: 15px; }

body {
  font-size: 62.5%;
  font-family: 'Ysabeau SC', sans-serif;
  background-color: whitesmoke; }
  body h1 {
    color: #3f3320; }
  body h2 {
    color: #695739; }
  body h3 {
    font-size: 20px;
    text-align: center;
    color: #4b3b22; }
  body p {
    color: #695739; }

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: #3f3320;
  background-image: linear-gradient(#c59860, whitesmoke);
  font-size: 20px;
  padding: 30px;
  top: 0px; }
  header .menu .encabezado .lista .boton-compra {
    background-color: #fdf4df;
    border-radius: 2rem;
    color: #3f3320;
    text-align: center; }
    header .menu .encabezado .lista .boton-compra:hover {
      border: #7a5d4a solid;
      border-radius: 3rem; }
  header div .logo-nav {
    border: #7a5d4a solid;
    border-radius: 3rem;
    width: 50px;
    height: 50px; }

main {
  background-color: whitesmoke;
  position: relative; }
  main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    main section h1 {
      color: #3f3320; }
    main section h2 {
      color: #695739; }
    main section img {
      width: 60%;
      height: 60%;
      margin-top: 3rem; }
    main section .mobiliario p {
      color: #695739;
      box-shadow: 40px 40px 40px #815f50; }
    main section .img-oculta1, main section .img-oculta2, main section .texto-img1, main section .texto-img2, main section .p-oculto {
      display: none; }
  main div .portada img {
    height: 40%; }
  main .usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;
    font-size: 15px; }
    main .usuario form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
    main .usuario input, main .usuario textarea {
      margin-bottom: 8px;
      border-radius: 5px;
      border-color: #684130; }
    main .usuario .logo-contacto img {
      width: 200px;
      margin-top: 2rem;
      box-shadow: 30px 40px 40px #815f50; }
  main .ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    main .ubicacion iframe {
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 1rem; }
    main .ubicacion a {
      display: none; }
  main .menu form .eleccion select:hover {
    background-color: rgba(255, 238, 226, 0.904); }

.medios form .eleccion select:hover {
  background-color: rgba(255, 238, 226, 0.904); }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, whitesmoke, #fae6cd, #c59860);
  color: #4b3b22;
  font-size: 20px;
  padding: 20px;
  position: relative; }
  footer .redes img {
    width: 40px;
    height: 40px;
    margin-top: 2rem; }
  footer .wsp {
    display: none; }

/*mq tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "productos";
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    margin-top: 5rem;
    position: relative; }
    main section div .bazar {
      grid-area: productos; }
    main section div img {
      width: 300px;
      height: 300px; }
    main section div .decoracion {
      grid-area: productos; }
    main section div img {
      width: 300px;
      height: 300px; }
    main section div .bazar-premium {
      grid-area: productos; }
    main section div img {
      width: 300px;
      height: 300px; }
    main section div .deco-premium {
      grid-area: productos; }
    main section div img {
      width: 300px;
      height: 300px; }
    main section .img-oculta, main section .h3-oculto {
      display: none; }
    main section .mobiliario {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center; }
    main section .logo-contacto img {
      width: 350px;
      height: 250px; }
  /*resposive footer*/
  footer div .logo-nav {
    width: 70px;
    height: 70px;
    border-radius: 5rem;
    border: #7a5d4a solid; } }

@media screen and (min-width: 1024px) {
  /*responsive navegador*/
  header div .logo-nav {
    width: 100px;
    height: 100px;
    border-radius: 5rem;
    border: #7a5d4a solid; }
    header div .logo-nav:hover {
      transform: scale(2); }
  /*responsive bazar y deco*/
  
    /*responsive contacto*/
    /*responsive presentacion*/
    main section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 50%);
      grid-template-areas: "productos";
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 3rem;
      margin-top: 5rem;
      position: relative; }
      main section div .bazar, main section div .deco, main section div .bazar-premium, main section div .deco-premium {
        grid-area: productos; }
      main section div .texto-img1, main section div .texto-img2 {
        display: block;
        font-size: 15px;
        position: relative;
        text-align: center;
        border-radius: 6px;
        box-shadow: 0px 15px 25px #684130;
        top: 50%;
        left: 50%;
        margin-top: 3rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: black;
        padding: 10px; }
      main section .bazar img, main section .deco img, main section .bazar-premium img, main section .deco-premium img {
        width: 400px;
        height: 400px; }
        main section .bazar img:hover, main section .deco img:hover, main section .bazar-premium img:hover, main section .deco-premium img:hover {
          transform: rotateY(180deg);
          opacity: 0.2;
          filter: blur(2px), grayscale(20%); }
      main section .bazar:hover .texto-img1, main section .bazar:hover .texto-img2, main section .deco:hover .texto-img1, main section .deco:hover .texto-img2, main section .bazar-premium:hover .texto-img1, main section .bazar-premium:hover .texto-img2, main section .deco-premium:hover .texto-img1, main section .deco-premium:hover .texto-img2 {
        opacity: 1; }
    main .usuario .logo-contacto img {
      width: 600px;
      height: 400px; }
    main .ubicacion .map-contenedor {
      position: relative; }
      main .ubicacion .map-contenedor .map-link {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: white;
        padding: 5px;
        border: 1px solid #ccc;
        z-index: 1;
        text-decoration: none; }
    main .proceso {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 3rem; }
      main .proceso div .proceso-tablas {
        grid-column: 1;
        grid-row: 1; }
      main .proceso div .proceso-maquinas {
        grid-column: 2;
        grid-row: 2; }
      main .proceso .img-oculta2 {
        display: block;
        grid-column: 1;
        grid-row: 2; }
      main .proceso .img-oculta1 {
        display: block;
        grid-column: 2;
        grid-row: 1; }
      main .proceso .p-oculto {
        display: block; }
    main .proceso img {
      width: 80%;
      height: 80%;
      margin: 5rem 5rem 1rem 5rem; }
  /*responsive footer*/
  footer .wsp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    footer .wsp h4 {
      display: block;
      font-size: 20px;
      margin-top: 2rem; }
    footer .wsp img {
      width: 70px;
      height: 70px;
      position: fixed;
      bottom: 20px;
      right: 30px; }
      footer .wsp img:hover {
        transform: scale(2); }
  footer .redes img {
    width: 60px;
    height: 60px; } }
