//colores texto//
$primer-color:rgb(63, 51, 32);
$segundo-color: rgb(105, 87, 57);
$tercer-color:rgb(75, 59, 34);

//colores fondo//
$bg-principal:rgb(245, 245, 245);
$bg-formulario:rgba(255, 238, 226, 0.904);