body{
    font-size: 62.5%;
    font-family: 'Ysabeau SC', sans-serif;
    background-color: $bg-principal;
    h1{
        @extend%h1-estilo;
        color: $primer-color;
    }
    h2{
        @extend%h2-estilo;
        color: $segundo-color;
    }
    h3{
        font-size: 20px;
        text-align: center;
        color: $tercer-color;
    }
    p{
        @extend%parrafos-estilo;
        color: $segundo-color;
    }
}

